parameters:
    level: 9
    paths:
        - src
        - tests
        - tools
        - scripts
        - benchmarks
        - examples
    tmpDir: .phpstan.cache
    reportUnmatchedIgnoredErrors: true
    checkMissingOverrideMethodAttribute: true
    phpVersion: 80200
